body{
    display: flex;
    justify-content: space-around;
    background-color:#00bbff;
    gap: 0px;
    align-items: center;
    
}

.wrapper{
    margin-top: 30px;
}



h1{
text-align: center;
font-size: 48px;
color: yellow;
margin: 0px;

}

.top{
    box-sizing: border-box;
    background-color: red;
    width: 760px;  
    height: 80px;

}

.gridContainer{
    border-left-width: 60px;
    border-right-width: 60px;
    border-style: solid;
    border-color: red;
    border-top-width: 0px ;
    border-bottom-width: 0px;
   
    height: 320px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;

 

}
.gridSquare{
    box-sizing: content-box;
    border: solid 1px black;
    background-color: white;
    

}
/* to see what grid looks like border: solid 1px black;
    height: 14px;
    width: 14px;
    border: solid 1px black; 
    otherwise erase black and change height and width back to 16px
    */

.bottom{
    border-color: red;
    border-style: solid;
    box-sizing: border-box;
    width: 760px;
    height: 80px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 75px 0px 75px;


}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: yellow; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 10px;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  

  .slider::-webkit-slider-thumb {
    margin-top: 0px ;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #00bbff; /* Green background */
    border-radius: 10px;
    cursor: pointer; /* Cursor on hover */
  }


.sliderContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;


}

#sliderValue{
    text-align: center;
    margin: 0px;


  }
 
 

  